/* 403 */

#_403 .container {
    height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 24px;
}

#_403 .container header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#_403 .container h1,
#_403 .container h2,
#_403 .container p {
    text-align: center;
}