<configuration>
  <system.webServer>

    <!-- Desativa o cache no navegador -->    
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>

    <!-- Evita página de erros (404) do IIS -->
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>