<configuration>
	<system.webServer>
		<!-- Desativa o cache nos navegadores iPhone --> 
		<!--
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-store, no-cache, must-revalidate" SUBSTITUÍDO POR VERSIONAMENTO DE CSS E JS />
				<add name="Pragma" value="no-cache" SUBSTITUÍDO POR VERSIONAMENTO DE CSS E JS />
			</customHeaders>
		</httpProtocol>
		-->

		<staticContent>
			<!-- Desativa o cache no navegador -->
			<!-- <clientCache cacheControlMode="DisableCache" /> SUBSTITUÍDO POR VERSIONAMENTO DE CSS E JS -->
			
			<remove fileExtension=".webmanifest" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<!-- Evita página de erros (404) do IIS -->
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>