<configuration>
	<system.webServer>
		<staticContent>
			<!-- Desativa o cache no navegador --> 
			<clientCache cacheControlMode="DisableCache" />
			
			<remove fileExtension=".webmanifest" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<!-- Evita página de erros (404) do IIS -->
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>