@import url('elements.css');
@import url('bootstrap.css');
@import url('pages.css');

/* Modules */
@import url('modules/header.css');
@import url('modules/menu.css');
@import url('modules/footer.css');
@import url('modules/message.css');
@import url('modules/load.css');
@import url('modules/pagination.css');

/* Pages */
@import url('pages/index.css');
@import url('pages/login.css');
@import url('pages/search.css');
@import url('pages/categories.css');
@import url('pages/scheme.css');
@import url('pages/logs.css');
@import url('pages/form_user.css');
@import url('pages/form_request.css');
@import url('pages/form_order.css');

:root {
    --pri-color: #1a1a1aff;
    --sec-color: #f0f4f9ff;
    --std-color: #4d4d4dff;

    --gray-lgt: #e4e4deff;
    --gray-std: #d4d4d4ff;
    --gray-dft: #a4a4a4ff;
    --gray-drk: #4d4d4dff;
    
    --white: #fff;
    --black: #000;

    --success: #c3e6cb;
    --info: #b8daff;
    --alert: #f5c6cb;
    --warning: #ffeeba;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    border-spacing: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    background-repeat: no-repeat;
    background: transparent;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    font-family: 'Lexend', 'Roboto', sans-serif;
    color: var(--std-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}