@import url('views.css');
@import url('elements.css');
@import url('classes.css');
@import url('columns.css');

/* Modules */
@import url('modules/menu.css');
@import url('modules/load.css');
@import url('modules/message.css');

/*@import url('modules/header.css');*/
/*@import url('modules/footer.css');*/

/* Views */
@import url('views/config.css');
@import url('views/home.css');
@import url('views/barcode.css');
@import url('views/orders.css');
@import url('views/search.css');
@import url('views/404.css');


:root {
    --pri-color: #142d85ff;
    --sec-color: #ed1b21ff;
    --std-color: #808080ff;
    --specialgr: #148562ff;

    --gray-lgt: #e4e4e4ff;
    --gray-dft: #a4a4a4ff;
    --gray-drk: #4d4d4dff;

    --success: #c3e6cb;
    --info: #b8daff;
    --alert: #cb0418;
    --warning: #ffeeba;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    border-spacing: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    background-repeat: no-repeat;
    background: transparent;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: var(--std-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    transition: all ease 0.3s;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}